*
 box-sizing: border-box
 padding: o
 margin: 0

html, body
  height: 100%

#dive
  background-color: black
  height: 100%
  position: relative

  .holder
    display: inline-block
    position: absolute
    overflow: hidden
    height: 100%
    width: 50%
    top: 0

    &.left
      left: 0

    &.right
      right: 0

  video
    right: 50%
    height: 100%

.hidden
  display: none
